{% extends "base.html" %}

{% block title %}Detalhes do curso - {{ curso.nome }}{% endblock %}

{% block content %}

<div class="curso-detalhe-container">

    <div class="curso-detalhe-card">

        {% if curso.imagem %}
        <img src="{{ curso.imagem }}" alt="Imagem do curso {{ curso.nome }}">
        {% else %}
        <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="Imagem não disponível">
        {% endif %}

        <h2>{{ curso.nome }}</h2>

        <p class="descricao">{{ curso.descrição_detalhada}} </p>

        <p class="carga"><strong>Carga Horária:</strong> {{ curso.carga_horaria }}</p>

    </div>

</div>

{% endblock %}
